# PostgreSQL Connection String (e.g. SiteGround)
# Format: postgres://username:password@hostname:5432/databasename
DATABASE_URL=
# Secret key for signing JWT tokens
JWT_SECRET=
# Stripe Configuration
STRIPE_SECRET_KEY=
# Email Configuration (e.g., Siteground, SendGrid, etc.)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
